<?xml version="1.0"?>
<launch>
  <!-- Load default parameters -->
  <rosparam command="load" file="$(find nautonomous_planning_and_control)/param/simple_sim_real_scenario.yaml"/>

  <!-- Launch mission_control_sim -->
  <node name="mission_coordinator" pkg="nautonomous_planning_and_control" type="mission_control_sim" output="screen"/>

  <!-- Launch ExtendedKalmanFilter_sim -->
  <node name="Ekf" pkg="nautonomous_planning_and_control" type="ExtendedKalmanFilter_sim" output="log"/>

  <!-- Launch ODEsolver -->
  <node name="Route_generator" pkg="nautonomous_planning_and_control" type="ODEsolver" output="log"/>

  <!-- Launch PID -->
  <node name="PID" pkg="nautonomous_planning_and_control" type="PID" output="log"/>

  <!-- Launch Visualization -->
  <node name="visualization" pkg="nautonomous_planning_and_control" type="Visualization" output="log"/>

  <!-- Launch RViz -->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find nautonomous_planning_and_control)/rviz/default.rviz"/-->

  <!-- Launch QRT plots -->
  <node name="qrt_action" pkg="rqt_plot" type="rqt_plot" args="/PID/next_state/T_l /PID/next_state/T_r"/>
  <node name="qrt_vel" pkg="rqt_plot" type="rqt_plot" args="/Ekf/next_state/u /Ekf/next_state/omega"/>
  <node name="qrt_state" pkg="rqt_plot" type="rqt_plot" args="/mission_coordinator/current_state/x /mission_coordinator/current_state/y /mission_coordinator/reference_state/x /mission_coordinator/reference_state/y"/>
   
</launch>
