<launch>

	<launch>
<!-- TOPICS -->

	<!-- simulate -->
	<arg name="disturbance_topic" 			default="/state/disturbances/wind"/>
	<arg name="initial_position_topic" 		default="/state/location/debug/initial_position"/>
	<arg name="debug_point_topic" 			default="/state/location/debug/points"/>

	<!-- sensors -->

	<!-- sensors/imu -->
	<arg name="imu_topic" 				default="/sensor/imu/imu/imu"/>
	<!-- sensors/gps -->
	<arg name="gps_fix_topic" 			default="/sensor/gps/fix"/>
   	<arg name="gps_fix_velocity_topic" 		default="/sensor/gps/fix_velocity"/>
	<!-- sensor/lidar -->
	<arg name="scan_topic" 				default="/sensor/lidar/scan"/>
	<!-- sensor/pointcloud -->
	<arg name="pointcloud_topic" 			default="/sensor/lidar/point_cloud"/>

	<!-- state -->

	<!-- state/odom -->
	<arg name="odom_combined_topic" 		default="/state/odom/combined"/>
	<arg name="utm_odom_topic" 			default="/state/odom/utm" />

	<!-- state/location -->
	<arg name="utm_fix_topic" 			default="/state/location/utm"/>
	<arg name="coordinate" 				value="$(arg utm_fix_topic)"/>

	<!-- navigation -->
	<arg name="cmd_vel_topic" 			default="/navigation/planner/twist"/>
	<arg name="operation_name_param" 		default="coenhaven"/>	
	<arg name="map_image_name_param" 		default="amsterdam"/>

	<!-- navigation/map -->
	<arg name="map_data_topic" 			default="/navigation/map/server/map_data"/>
	<arg name="map_metadata_topic" 			default="/navigation/map/server/map_metadata"/>
	<arg name="map_topic" 				default="/navigation/map/server/map"/>
	<arg name="map_center_topic" 			default="/navigation/map/server/map_center"/>

	<!-- actuation -->
	<arg name="left_motor_topic" 			default="/actuation/propulsion/left"/>
	<arg name="right_motor_topic" 			default="/actuation/propulsion/right"/>
	<arg name="actuation_watchdog_topic" 		default="/actuation/propulsion/watchdog"/>	




	<!-- SERVICES-->
	<arg name="route_service" 			default="/navigation/routing/vaarkaart/route"/>
	<arg name="crop_service" 			default="/navigation/map/cropper/crop"/>
	<arg name="load_service" 			default="/navigation/map/server/load"/>

	<!-- ACTION SERVERS -->
	<arg name="coordinator_mission_action_server" 	default="/mission/coordinator/server"/>
	<arg name="move_base_server" 			default="/navigation/planner/move_base"/>

	<!-- actuation -->
	<arg name="actuation_serial_available_param" 	default="true"/>
	<arg name="propulsion_differential_mode_param" 	default="false"/>


	<!-- specific parameters -->
	<arg name="operation_name_param"  		value="System_identification"/>
	<arg name="negate_image_param" 			value="true"/>
	<arg name="cmd_vel_topic"			value="system_identification/cmd_vel"/>



</launch>
