<launch>

	<include file="$(find nautonomous_launch)/launch/templates/nautonomous_template.launch">
		<arg name="webserver_group" 				value="false"/>
		<arg name="operation_name_param"  			value="coenhaven_dry_dock"/>
		<arg name="negate_image_param" 				value="true"/>
		<arg name="actuation_group"				value="false"/>
		<arg name="sensor_group"				value="true"/>
	</include>

	<node name="mission_coordinator" pkg="nautonomous_mission_coordinator" type="alternative_mission_coordinator_node" output="screen" > </node>

</launch>
